body {
    background-color: #FAFAFA;
}

#main {
    display: flex;
    flex-direction: column;
}

#sub-div-1{
    display: flex;
    flex-direction: row;
}

#logo {
    margin: 50px 100px;
    
}

#bio {
    display: flex;
    flex-direction: column;
}
#profile-name {
    font-size : 40px;
    padding-top: 40px;
    
}
#followbox {
    padding-top: 20px;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bio-text {
padding-top: 15px;

}


#bluebold {
color : navy;
padding-top : 0;


}
#followed-by {
    font-size: 13px;
    /* padding-top: 8px; */
    color : #999999


}


#sub-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    /* width: 1200px;
    height: 100px; */
    padding-top: 55px
}


.Highlights {
    text-align: center;
    /* width: 70px; */
    /* height: 100px; */
}
